<<<<<<< Updated upstream
<<<<<<< Updated upstream
ion-header {
    background-color: #4caf50;
  }
  
  ion-title {
=======
    ion-title {
>>>>>>> Stashed changes
=======
    ion-title {
>>>>>>> Stashed changes
    color: #ffffff;
  }
  
  ion-content {
    padding: 20px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  }
  
  ion-fab-button {
    --background: #ff00e6;
=======
=======
>>>>>>> Stashed changes
    --background: rgb(149, 0, 255);
  }
  
  ion-fab-button {
    --background: rgb(238, 0, 255);
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
    --box-shadow: none;
  }
  
  ion-fab-button:hover {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    --background: #00f7ff;
=======
    --background: rgb(0, 255, 255);
>>>>>>> Stashed changes
=======
    --background: rgb(0, 255, 255);
>>>>>>> Stashed changes
  }
  