/* Tab3.css */
ion-content {
  --background: #f5f5f5; /* Cambia el color de fondo del contenido */
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.gallery-item {
  margin: 10px;
  position: relative;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.gallery-item .overlay button:hover {
  background-color: #2980b9;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.modal-content button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal-content button:hover {
  background-color: #c0392b;
}

.camera-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.camera-button ion-icon {
  margin-right: 5px;
}
